<div ng-controller="ctrlExpenses">
	<h2>Expenses</h2>

	<div bookmarklist id="bookmarks" class="section-list">
	</div>

	<h3>Add an expense</h3>
	<form name="expensesform">
		<ul>
			<li>
				<label>Date</label>
				<input type="text" ng-required="true" ng-model="newExpense.date" ui-date="dateOptions" placeholder="dd/mm/yyyy" />
			</li>
			<li>
                <label>Amount</label>
                <input type="text" ng-required="true" ng-model="newExpense.amount" ng-change="calcVAT()" placeholder="00.00" />
			</li>
			<li>
				<label>Currency</label>
				<!-- The currency is no loger required. If the value is empty, then the api will set
				the GBP by default. -->
				<input ng-style="smallInput" type="text" ng-model="newExpense.currency" placeholder="GBP"/>
                <label ng-style="vatPgeStyle" on-init="getVatPge()">(VAT {{pgeVAT}}%)</label>
                <label ng-style="vatStyle"> {{expenseVat}}  </label>
			</li>
			<li>
				<label>Reason</label>
					<textarea at-auto-resize ng-required="true" ng-model="newExpense.reason" ng-trim="false" placeholder="why oh why?"></textarea>
			</li>
			<li>
				<label></label>
				<button ng-click="saveExpense()" class="solid">Save Expense</button> <button ng-click="clearExpense()">cancel</button>
			</li>
		</ul>
	</form>

	<h3>Submitted expenses</h3>
	<div class="list-table expenses-data">
		<div class="header-row">
			<div class="col-4">Date</div>
			<div class="col-4 figures">Amount (inc. VAT)</div>
			<div class="col-2 figures">VAT</div>
			<div class="col-15">Reason</div>
		</div>
		<div ng-repeat="expense in expenses" class="body-row">
			<!-- DS: The expenses currency is added -->
			<div class="col-4">{{expense.date | date:'dd MMM yyyy'}}</div>
			<!-- DS: The amount and the currency will be displayed next to each other. -->
			<div class="col-4 figures">{{expense.amount }} {{expense.currencySymbol}}</div>
			<div class="col-2 figures">{{expense.vat}}</div>
			<div class="col-15">{{expense.reason}}</div>
		</div>
	</div>
</div>
