<div ng-controller="ctrlExpenses">
	<h2>Expenses</h2>

	<div bookmarklist id="bookmarks" class="section-list">
	</div>

	<h3>Add an expense</h3>
	<form name="expensesform">
		<ul>
			<li>
				<label>Date</label>
				<input type="text" ng-required="true" ng-model="newExpense.date" ui-date="dateOptions" placeholder="dd/mm/yyyy" />
			</li>
			<li>
                <label>Amount</label>
                <!-- DS: Whenever the "newExpense.amount" input is changed, then the new function
                    calcVAT is called to recalculate the {{expenseVat}} label. -->
                <input type="text" ng-required="true" ng-model="newExpense.amount" ng-change="calcVAT()" placeholder="00.00" />
			</li>
			<li>
				<label>Currency</label>
				<!-- DS: The currency is no longer compulsory. If the value is empty, then the api will set
				the GBP by default. -->
				<input class="currency" type="text" ng-model="newExpense.currency" placeholder="GBP"/>
                <!-- DS: A new label is added indicating the percentage with which the VAT must be calculated.
                    The value is obtained on-init from the backend via a rest endpoint. -->
                <label class="vat-percentage" on-init="getVatPge()">(VAT {{pgeVAT}}%)</label>
                <!-- DS: The VAT value is calculated based on the amount stored in  "newExpense.amount". -->
                <label class="vat-amount"> {{expenseVat}}  </label>
			</li>
			<li>
				<label>Reason</label>
                <textarea at-auto-resize ng-required="true" ng-model="newExpense.reason" ng-trim="false" placeholder="why oh why?"></textarea>
			</li>
            <li>
                <!-- DS: new divs for displaying error and messages.-->
                <div data-ng-show="showErr" ng-class="{fade:doFade}" class="alert-msg alert-danger"> {{contentMessage}}</div>
                <div data-ng-show="showMsg" ng-class="{fade:doFade}" class="alert-msg alert-success"> {{contentMessage}}</div>
            </li>
			<li>
				<label></label>
				<button ng-click="saveExpense()" class="solid">Save Expense</button> <button ng-click="clearExpense()">Cancel</button>
			</li>
		</ul>
	</form>

	<h3>Submitted expenses</h3>

	<div class="list-table expenses-data">

		<div class="header-row">
			<div class="col-4">Date</div>
			<div class="col-4 figures">Amount (inc. VAT)</div>
			<div class="col-2 figures">VAT</div>
			<div class="col-15">Reason</div>
		</div>

		<div ng-repeat="expense in expenses" class="body-row">
			<div class="col-4">{{expense.date | date:'dd MMM yyyy'}}</div>
			<!-- DS: The currency symbol is added to the grid. The amount and the currency will be
			     displayed next to each other. -->
			<div class="col-4 figures">{{expense.amount}} {{expense.currencySymbol}}</div>
            <!-- DS: The VAT amount is added to the grid. -->
			<div class="col-2 figures">{{expense.vat}}</div>
			<div class="col-15">{{expense.reason}}</div>
		</div>

	</div>
</div>
